    <script src="/static/js/plugins/jquery-3.6.0.min.js"></script>
    <script src="/static/js/plugins/isotope.pkg.min.js"></script>
    <script src="/static/js/plugins/jquery.slick.min.js"></script>
    <script src="/static/js/plugins/odometer.js"></script>
    <script src="/static/js/plugins/ripples.min.js"></script>
    <script src="/static/js/plugins/wow.min.js"></script>
    <script src="/static/js/plugins/swiper.min.js"></script>
    <script src="/static/js/plugins/YTPlayer.min.js"></script>
    <script src="/static/js/plugins/jquery-ui.min.js"></script>
    <script src="/static/js/main.js"></script>