{% extends './partials/layout.html' %}

{% block content %}

{% include  "./partials/header.html" with pageTitle="Team" breadcrumbItem="Team" %}

    {# Start Project Supervisor Section #}
      <section class="cs_pt_100 cs_pb_100">
        <div class="container">
          <div class="cs_section_heading cs_style_1 text-center cs_mb_60 cs_mb_lg_40">
            <div class="cs_section_heading_in">
              <h3 class="cs_fs_20 cs_fs_lg_18 text-accent fw-normal cs_lh_base cs_mb_10 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Project Leadership</h3>
              <h2 class="cs_fs_48 cs_fs_lg_36 m-0">Meet Our Project Supervisor</h2>
            </div>
          </div>
          <div class="row align-items-center">
            <!-- Supervisor Image -->
            <div class="col-lg-4 text-center">
              <div class="cs_supervisor_img cs_rounded_50 overflow-hidden wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.2s">
                <img class="w-100 cs_rounded_50" src="/static/img/team_member_4.jpeg" alt="Project Supervisor">
              </div>
            </div>
            <!-- Supervisor Details -->
            <div class="col-lg-8">
              <div class="cs_supervisor_details wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.2s">
                <h2 class="cs_fs_36 cs_fs_lg_30 cs_mb_10">Dr. Robert Smith</h2>
                <p class="cs_fs_20 cs_fs_lg_18 text-accent cs_mb_20">Project Supervisor & Cybersecurity Expert</p>
                <p class="cs_fs_18 cs_fs_lg_16 cs_mb_30">
                  Dr. Robert Smith is a seasoned cybersecurity professional with over 15 years of experience in the field. He holds a Ph.D. in Cybersecurity and has been instrumental in leading numerous high-profile projects aimed at enhancing digital security for educational institutions. His expertise in phishing prevention and user awareness training has made him a key figure in the fight against cyber threats.
                </p>
                <div class="cs_social_btns d-flex cs_column_gap_15">
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle bg-accent"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle bg-accent"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle bg-accent"><i class="fa-solid fa-envelope"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {# End Project Supervisor Section #}

    {# Start Team Section #}
    <section class="cs_pt_133 cs_pt_lg_75">
      <div class="container">
        <div class="cs_section_heading cs_style_1 d-flex align-items-center text-center cs_mb_60 cs_mb_lg_40">
          <div class="cs_section_heading_in">
            <h3 class="cs_fs_20 cs_fs_lg_18 text-accent fw-normal cs_lh_base cs_mb_10 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Meet Our Team</h3>
            <h2 class="cs_fs_48 cs_fs_lg_36 m-0">The Experts Behind the University Phishing Awareness Project</h2>
          </div>
        </div>
        <div class="row">
          <!-- Team Member 1 -->
          <div class="col-lg-4 col-md-6">
            <div class="cs_team cs_style_1 text-center cs_mb_25 overflow-hidden cs_rounded_50">
              <div class="cs_team_member position-relative cs_rounded_50">
                <img class="w-100 cs_rounded_50" src="/static/img/team_member_1.jpeg" alt="Team Member 1">
                <div class="cs_social_btns d-flex flex-wrap cs_column_gap_15 cs_row_gap_15 cs_transition_5 cs_fs_20 cs_fs_lg_18 position-absolute">
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle"><i class="fa-solid fa-envelope"></i></a>
                </div>
              </div>
              <div class="cs_team_info cs_pt_127 cs_pl_15 cs_pr_15 cs_pb_25 cs_transition_4">
                <h2 class="text-white m-0 cs_fs_26 cs_mb_3">Dr. Emily Carter</h2>
                <p class="text-white m-0">Project Director</p>
              </div>
            </div>
          </div>
          <!-- Team Member 2 -->
          <div class="col-lg-4 col-md-6">
            <div class="cs_team cs_style_1 text-center cs_mb_25 overflow-hidden cs_rounded_50">
              <div class="cs_team_member position-relative cs_rounded_50">
                <img class="w-100 cs_rounded_50" src="/static/img/team_member_2.jpeg" alt="Team Member 2">
                <div class="cs_social_btns d-flex flex-wrap cs_column_gap_15 cs_row_gap_15 cs_transition_5 cs_fs_20 cs_fs_lg_18 position-absolute">
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle"><i class="fa-solid fa-envelope"></i></a>
                </div>
              </div>
              <div class="cs_team_info cs_pt_127 cs_pl_15 cs_pr_15 cs_pb_25 cs_transition_4">
                <h2 class="text-white m-0 cs_fs_26 cs_mb_3">John Matthews</h2>
                <p class="text-white m-0">Cybersecurity Lead</p>
              </div>
            </div>
          </div>
          <!-- Team Member 3 -->
          <div class="col-lg-4 col-md-6">
            <div class="cs_team cs_style_1 text-center cs_mb_25 overflow-hidden cs_rounded_50">
              <div class="cs_team_member position-relative cs_rounded_50">
                <img class="w-100 cs_rounded_50" src="/static/img/team_member_3.jpeg" alt="Team Member 3">
                <div class="cs_social_btns d-flex flex-wrap cs_column_gap_15 cs_row_gap_15 cs_transition_5 cs_fs_20 cs_fs_lg_18 position-absolute">
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle"><i class="fa-solid fa-envelope"></i></a>
                </div>
              </div>
              <div class="cs_team_info cs_pt_127 cs_pl_15 cs_pr_15 cs_pb_25 cs_transition_4">
                <h2 class="text-white m-0 cs_fs_26 cs_mb_3">Sarah Johnson</h2>
                <p class="text-white m-0">Education & Training Specialist</p>
              </div>
            </div>
          </div>
          <!-- Team Member 4 -->
          <div class="col-lg-4 col-md-6 offset-lg-2">
            <div class="cs_team cs_style_1 text-center cs_mb_25 overflow-hidden cs_rounded_50">
              <div class="cs_team_member position-relative cs_rounded_50">
                <img class="w-100 cs_rounded_50" src="/static/img/team_member_5.jpeg" alt="Team Member 4">
                <div class="cs_social_btns d-flex flex-wrap cs_column_gap_15 cs_row_gap_15 cs_transition_5 cs_fs_20 cs_fs_lg_18 position-absolute">
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle"><i class="fa-solid fa-envelope"></i></a>
                </div>
              </div>
              <div class="cs_team_info cs_pt_127 cs_pl_15 cs_pr_15 cs_pb_25 cs_transition_4">
                <h2 class="text-white m-0 cs_fs_26 cs_mb_3">Michael Brown</h2>
                <p class="text-white m-0">Data Analyst</p>
              </div>
            </div>
          </div>
          <!-- Team Member 5 -->
          <div class="col-lg-4 col-md-6">
            <div class="cs_team cs_style_1 text-center cs_mb_25 overflow-hidden cs_rounded_50">
              <div class="cs_team_member position-relative cs_rounded_50">
                <img class="w-100 cs_rounded_50" src="/static/img/team_member_5.jpeg" alt="Team Member 5">
                <div class="cs_social_btns d-flex flex-wrap cs_column_gap_15 cs_row_gap_15 cs_transition_5 cs_fs_20 cs_fs_lg_18 position-absolute">
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center cs_height_45 cs_width_45 border-0 text-white rounded-circle"><i class="fa-solid fa-envelope"></i></a>
                </div>
              </div>
              <div class="cs_team_info cs_pt_127 cs_pl_15 cs_pr_15 cs_pb_25 cs_transition_4">
                <h2 class="text-white m-0 cs_fs_26 cs_mb_3">Laura Wilson</h2>
                <p class="text-white m-0">Communications Manager</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {# End Team Section #}
    
    {% endblock content %}